.p20 {
  padding: 20px;
}
.mt50 {
  margin-top: 50px;
}
.mt200 {
  margin-top: 200px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb50 {
  margin-bottom: 50px;
}
.link-color {
  color: #20a0ff;
}
.auto {
  overflow: auto;
}
