
/*
** padding
*/
.p20 {
  padding: 20px;
}
.pt24 {
  padding-top: 24px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb20 {
  padding-bottom: 20px;
}
/*
** margin
*/
.mb20 {
  margin-bottom: 20px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt200 {
  margin-top: 200px;
}
.link-color {
  color: #20a0ff;
}
.auto {
  overflow: auto;
}
.main {
  padding: 40px 34px 34px 40px;
  box-sizing: border-box;
}

/*
** 字体边框
*/
.border {
  border: 1px solid #EEEEEE;
}
.border-top {
  border-top: 1px solid #EEEEEE;
}
.border-right {
  border-right: 1px solid #EEEEEE;
}
.border-bottom {
  border-bottom: 1px solid #EEEEEE;
}
.border-left {
  border-left: 1px solid #EEEEEE;
}
/*
** 字体颜色
*/
.g3 {
  color: #333;
}
.g6 {
  color: #666;
}
.g9 {
  color: #999999;
}
.ge {
  color: #eee;
}
.gf {
  color: #fff;
}
/*
** font-size
*/
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
/*
** height
*/
.h50{
  height: 50px;
}
/*
** line-height
*/
.lh50{
  line-height: 50px;
}
